.video { text-align:center }

.igt          { display: inline-table; 
                margin-bottom: 50px }
#window .igt { margin:auto; }
.words, .glosses { display: table-row }
.word, .gloss  { display: table-cell;
                 padding: 0px 10px 0px 10px; }

.word::after {
    display:block;
    content:attr(title);
    font-weight:bold;
    height:1px;
    color:transparent;
    overflow:hidden;
    margin-bottom:-1px;
}

.trans { text-align:center; display: table-caption;
	 white-space:nowrap;
         caption-side: bottom;
         background: inherit  }
.audio { display: none }
.active { background-color: #edf;}
.notelink { font-size:x-small;
            vertical-align:top }
.c-word{ color: green;
         font-weight: bold }

audio { width: 75%; }

h1 { 
  text-align: center;
  color: #326;
  font-size: 2.75em;
  margin-bottom: 1px;
  font-family: 'Bree Serif', serif;
}
 
h2 { 
  margin-top: 1px;
  text-align: center;
  color: #333;
  font-size: 1.75em;
  letter-spacing: 0.05em;
  font-family: 'Abel', sans-serif;
}
 
h3 { 
  margin-top: 1px;
  text-align: center;
  color: #333;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  font-family: 'Abel', sans-serif;
}

#text { 
  padding:10px 50px 10px 50px;
  overflow-y:scroll;
  height: 600px;
  border: 4px solid #ccc;
  border-top: none;
  background-color:#eee; 
}
#window { 
  padding:10px 50px 10px 50px;
  font-size:1.5em;
  font-weight:500;
  border: 1px solid #ccc; 
}

/*#anndiv { position: relative;
          border: 1px solid black;
          height: 300px;
          width: 450px; 
          top 300px;  } */

#main-container { width:80%; 
                  margin:auto; 
                  margin-bottom: 140px; }

.normaltext {
  font-size:1.25em;
  width:80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.menu a {
  width: 200px;
  color: #fff;
  padding: 10px 20px 10px 20px;
  background-color: #226655;
  text-decoration: none;
  font-weight: normal;
  display: block;
  margin: 0px 5px 10px 5px;
  border-radius: 10px;
  border: 4px solid #ccc;
  font-family: 'Bree Serif', serif; 
}

.menu a:hover { 
  color: #226655;
  background-color: #ddd;
}

.flexwrap {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mainmiddle{
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.footer {
	background-color: #ccc;
	height: 50px;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: space-between;
}

.footertext {
	order:1;
	padding: 15px 20px 10px 60px;
	font-weight: normal;
	    font-family: 'Abel', sans-serif;
}

.footerbutton {
	order:2;
	width: 200px;
	color: #fff;
	padding: 10px 20px 10px 20px;
	background-color: #332266;
	text-decoration: none;
	font-weight: normal;
	display: block;

	border: 4px solid #ccc;
	font-family: 'Bree Serif', serif;
}

.roundbox {
	border-radius: 25px;
	border: 8px solid #aaa;
	width: 25%;
	height: 200px;
	padding: 50px 0px 0px 0px;
	margin: 50px;
	color: #aaa;
		font-family: 'Bree Serif', serif;
		font-size: 5.5em;
		text-decoration: none;
		text-align: center;	
}

.roundbox:hover {
	border: 8px solid #ccc;
	color: #ccc;
}

@media (min-width: 1px) and (max-width: 1250px) {
			.roundbox {
			font-size: 2.85em;		
			height: 130px;			
			}

			.headerbackground {
				background-image: url("../imgs/header_lg.jpg");
				height: 400px;
				display: flex;
				display: -webkit-flex;
				flex-direction: row;
				justify-content: space-between;
					border: 10px solid #ccc;
			}
			.headerkwa {
					width: 1012x;
					height: 350px;
					background-repeat: no-repeat;
					order:1;
					margin-left: 5%;
					flex-shrink: 1;
					margin-top: 20px;
			}

			.headertexts {
					order: 1;
					width: 433px;
					height: 137;
					margin-right: 5%;
					flex-shrink: 2;
					align-self: flex-end;
					margin-bottom: 9px;
			}
}


@media (min-width: 1251px) and (max-width: 1799px) {
			.roundbox {
			font-size: 3.75em;		
			height: 150px;			
			}

			.headerbackground {
				background-image: url("../imgs/header_lg.jpg");
				height: 400px;
				display: flex;
				display: -webkit-flex;
				flex-direction: row;
				justify-content: space-between;
					border: 10px solid #ccc;
			}
			.headerkwa {
					width: 1012px;
					height: 350px;
					background-repeat: no-repeat;
					order:1;
					margin-left: 5%;
					flex-shrink: 1;
					margin-top: 20px;
			}

			.headertexts {
					order: 1;
					width: 433px;
					height: 137;
					margin-right: 5%;
					flex-shrink: 2;
					align-self: flex-end;
					margin-bottom: 9px;
			}

}

@media (min-width : 1800px) and (max-width : 2799px) {
			.roundbox{
			font-size: 4em;
                        height: 150px;
                        }

	
			.headerbackground {
				background-image: url("../imgs/header_lg.jpg");
				height: 400px;
				display: flex;
				display: -webkit-flex;
				flex-direction: row;
				justify-content: space-between;
									border: 4px solid #ccc;
			}
			.headerkwa {
					width: 974px;
					height: 337px;
					background-repeat: no-repeat;
					order:1;
					margin-left: 5%;
					flex-shrink: 1;
					margin-top: 20px;
			}

			.headertexts {
					order: 1;
					width: 433px;
					height: 137;
					margin-right: 5%;
					flex-shrink: 2;
					align-self: flex-end;
					margin-bottom: 9px;
			}
}
  
.activecol { background: #ffa; }

.tseditor { font-size:50%; padding-left:10px; padding-right:10px; }
.existstamps { background: lightgreen; }
.newstamps { background: gold; }
.nostamps { background: peachpuff }


